@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarmenu" class="col-md-4 col-lg-3 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <i class="bi bi-house-door"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                            <i class="bi bi-folder"></i> Manage Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">
                            <i class="bi bi-box"></i> Manage Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">
                            <i class="bi bi-clipboard-check"></i> Manage Orders
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-8 ms-sm-auto col-lg-9 px-md-4">
            @RenderBody()
            @if (IsSectionDefined("Scripts"))
            {
                @RenderSection("Scripts", required: false)
            }
        </main>
    </div>
</div>
