/* cart-styles.css */

.container-fluid {
    max-width: 1200px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

.text-primary {
    color: #007bff !important;
}

.toast-container {
    z-index: 1050;
}

.toast {
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.table {
    margin-top: 20px;
}

    .table thead {
        background-color: #343a40;
        color: #fff;
    }

    .table tbody tr:hover {
        background-color: #f8f9fa;
    }


.card-body {
    background-color: #ffffff;
}

.d-flex {
    justify-content: space-between;
}

.bg-gradient {
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}

.bi-check-circle-fill {
    font-size: 1.25rem;
}
