/* order-history-styles.css */

.container {
    max-width: 1200px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card {
    border-radius: 10px;
}

.card-body {
    background-color: #ffffff;
    border-radius: 10px;
}

.border-warning {
    border-left: 10px solid #ffc107 !important;
    border-right: 10px solid #ffc107 !important;
}

.border-info {
    border-left: 10px solid #17a2b8 !important;
    border-right: 10px solid #17a2b8 !important;
}

.border-success {
    border-left: 10px solid #28a745 !important;
    border-right: 10px solid #28a745 !important;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.text-primary {
    color: #007bff !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.text-center {
    text-align: center !important;
}
